@model Ciamajda.Models.ViewModels.CategoryExpenseViewModel

<div>
    <a asp-action="Create">Dodaj kategorie wydatku</a>
</div>
<div class="table-responsive cart_info">

    <table class="table table-condensed">
        <thead>
            <tr>
                <td>Nazwa</td>
                <td>Opis</td>
                <td></td>

            </tr>
        </thead>
        <tbody>
            @if (ViewBag.CategoryExpenselist != null)
            {
                @foreach (var category in ViewBag.CategoryExpenselist)
                {
                    <tr>
                        <td>@category.Name</td>
                        <td>@category.Description</td>

                        <td><a href="@Url.Action("Delete", "CategoryExpense", new { id = @category.Id })" class="btn btn-primary btn-lg"><i class="fa fa-times"></i></a></td>

                    </tr>

                }
            }

        </tbody>
    </table>
</div>
