

<div style="container" class="col-lg-10 col-md-10 col-sm-10 col-xs12 ">
    <!-- start progress bar Section -->
    <section id="skill_sec">
        <div>
            <div class="row">
                <div >
                    <div class="title_sec">
                        <h1>Bilans wydatków za miesi¹c "getjakismiesiac"</h1>

                    </div>
                </div>
                <div class="skills progress-bar1">
                    <ul class="col-md-6 col-sm-12 col-xs-12 wow ">
                        <li class="progress">
                            <div class="progress-bar" data-width="85">
                                Przychody
                            </div>
                        </li>
                        <li class="progress">
                            <div class="progress-bar" data-width="65">
                                Wydatki
                            </div>
                        </li>

                    </ul>
                </div>


            </div>
        </div>
        <h3>Pozostalo do wydania.. ??</h3>
        <button>Dodaj wydatek</button>
        <button>Dodaj przychod</button>
    </section>
    <!-- End progress bar Section -->
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>


    $(document).ready(function () {
        $("#menu > li").click(function () {
            $(this).find("ul").slideToggle("slow");
        });
    });
</script>