

<div style="container" class="col-lg-10 col-md-10 col-sm-10 col-xs12 ">
    <!-- start progress bar Section -->
    <section id="skill_sec">
        <div>
            <div class="row">
                <div >
                    <div class="title_sec">
                        <h1>Bilans wydatków za miesiac "getjakismiesiac"</h1>

                    </div>
                </div>
                <div class="skills progress-bar1">
                    <ul class="col-md-6 col-sm-12 col-xs-12 wow ">
                        <li class="progress">
                            <div class="progress-bar" data-width="85">
                                Przychody
                            </div>
                        </li>
                        <li class="progress">
                            <div class="progress-bar" data-width="65">
                                Wydatki
                            </div>
                        </li>

                    </ul>
                </div>


            </div>
        </div>
        <h3>Pozostalo do wydania.. ??</h3>
        <ul>
            <li class=""><a asp-controller="OurAccount" asp-action="Index">Zarzadzaj kontami</a></li>
            <li class=""><a asp-controller="Income" asp-action="Create">Dodaj dochod</a></li>
            <li class=""><a asp-controller="Expense" asp-action="Create">Dodaj wydatek</a></li>
            <li class=""><a asp-controller="Category" asp-action="Create">Dodaj kategorie</a></li>
            <li class=""><a asp-controller="Place" asp-action="Create">Dodaj miejsce</a></li>
        </ul>
    </section>
    <!-- End progress bar Section -->
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

