@{
    ViewData["Title"] = "Home Page";
}


    <div class="container">
        <div class="row">
            <div class="align-self-center col-lg-8 col-md-8 col-sm-8 col-xs-8 ">
                <div class="title_sec">
                    <h1>Projekt ZPI 2017</h1>
                    <h2>Trwa Sprint nr4</h2>
                </div>
                </div>
        </div>
    </div>
