@{
    ViewData["Title"] = "Home Page";
}


<section id="abt_sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs12 ">
                <div class="title_sec">
                    <h1>Projekt ZPI 2017</h1>
                    <h2>Trwa Sprint nr4</h2>
                     <p>Lorem ipsum etc.</p>  
                </div>
                </div>
        </div>
    </div>
</section>