@model Ciamajda.Models.ViewModels.AccountViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>AccountDetails to do!!</h4>
    <hr />
   
</div>
<div>
   <a asp-controller="Home" asp-action="Index">HomePage</a>
</div>
