@using Microsoft.AspNetCore.Identity
@using Ciamajda.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li><a class="page-scroll" asp-controller="OurAccount" asp-action="Index">Zarzadzaj kontami</a></li>

    <li><a asp-area="" asp-controller="Summary" asp-action="Index" title="Podsumowanie">Portfel</a></li>
    <li>
        <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    </li>
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
     
            <li>
                <button type="submit" id="logout-button">Log out</button>
            </li>
      
    </form>
}
else
{
    
        <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
   
}
